<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
       <rule name="301 Redirect 1" stopProcessing="true">
          <match url=".*" />
             <conditions>
                      <add input="{QUERY_STRING}" pattern="shop" />
             </conditions>
          <action type="Redirect" url="http://mystarwars.ru/?utm_source=instagram&utm_medium=free&utm_campaign=instaplus" redirectType="Permanent" appendQueryString="false"  />
        </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>